<ion-view hide-nav-bar="false" class="pbrowser header-background">
	<ion-header-bar align-title="left" class="bar-dark depth z1" align-title="left">
		<div class="buttons">
			<button class="button button-icon icon ion-android-arrow-back button-energized" style="color:#f1611a;" ng-click="Utils.goBack()"></button>
		</div>
		<h1 class="title">{{viewTitle ? viewTitle : ''}}</h1>
	</ion-header-bar>
	<ion-content scroll="false" has-header="true">
	    <div class="text-center text-colored text-bold" ng-if="errorLoadingMessage">{{errorLoadingMessage}}</div>
	    <button ng-if="errorLoadingMessage" ng-click="reloadIframe()" class="button button-block button-stable">Réessayer</button>

	    <iframe class="external-web-page" id="browser" style="width:100%;height: 100%"></iframe>
  </ion-content>
</ion-view>
