<!--<div id="nlTopbar" class="depth z1" ng-style="viewTitle && {'background': '#e8e8e8'} || {'background': '#1c1c1c'}">
	<div class="title">
		<img src= "img/logo/Logo_appli_texte.png" style="max-height: 50px;padding:8px;" ng-if="!viewTitle || viewTitle == ''">
		{{viewTitle ? viewTitle : ''}}
	</div>
	<div class="buttons" style="position:absolute;right:5px;padding: 5px;height: 100%;padding: 13px 5px;" >
		<!--<button class="button button-small button-assertive" ng-show="spotEnCours" ng-click="annulerPropositionSpot()">
			Annuler
		</button>
	</div>
</div>-->

<!--<div id="nlBurger" ng-if="!showBackButton"><i class="icon ion-navicon" style="line-height: 50px;margin-left: 10px;"></i></div>-->
<!--<button class="button button-icon icon ion-android-arrow-back" ng-click="Utils.goBack()"
        style="position: fixed;top: 0;left: 0;width: 56px;height: 56px;display: block;z-index: 1106;font-size: 3.5rem;color: black;"
        ng-if="showBackButton"></button>-->


<!-- body of the menu drawer -->
<div id="nlDrawer" ng-click="alert('ok')">
	<div class="topbar drawer large" ng-click="goTo('app.profile')">
		<div ng-style="{'background-image' : 'url('+(currentUser.avatar | avatar)+')', 'background-size': 'cover', 'background-position': 'center center'}" class="gravatar depth z1"></div>
		<div class="username">
			<div style="width: 66%;overflow-x: hidden;text-overflow: ellipsis;white-space: nowrap;">
				<strong>{{currentUser.first_name}} {{currentUser.last_name}}</strong>
			</div>

			<div class="row padding-0">
				<div class="col col-66 padding-left-0">
					<ionic-ratings ratingsobj="currentUserStars" style="display:inline-block;"></ionic-ratings> {{currentUser.street_nb_etoiles}}
				</div>
				<div class="col col-33">
					<i class="icon ion-ios-pricetags-outline"></i> <i class="icon ion-ios-infinite-outline"></i>
				</div>
			</div>
		</div>
	</div>
	<ion-list class="nav">
		<ion-item menu-close ui-sref="app.je-cherche" ui-sref-active="active">
			<div class="row">
				<div class="col col-20">
					<i class="icon ion-ios-home-outline"></i>
				</div>
				<div class="col col-center">
					Accueil
				</div>
			</div>
		</ion-item>
		<ion-item menu-close ui-sref="app.demandesReceived" ui-sref-active="active">
			<div class="row">
				<div class="col col-20">
					<i class="icon ion-ios-world-outline"></i>
				</div>
				<div class="col col-center">
					Demandes reçues
				</div>
			</div>
		</ion-item>
		<ion-item menu-close ui-sref="app.demandesSent" ui-sref-active="active">
			<div class="row">
				<div class="col col-20">
					<i class="icon ion-ios-clock-outline"></i>
				</div>
				<div class="col col-center">
					Réservations effectuées
				</div>
			</div>
		</ion-item>
		<!--<ion-item menu-close ui-sref="app.browse" ui-sref-active="active">
			<div class="row">
				<div class="col col-20">
					<i class="icon ion-ios-unlocked-outline"></i>
				</div>
				<div class="col col-center">
					Accès illimité
				</div>
			</div>
		</ion-item>-->
	</ion-list>

	<!--<div class="menu-footer">
		<div class="row padding-0">
			<div class="col col-center text-center" style="border-right: 1px solid #454545;">
				<a class="button button-icon ion-ios-person-outline" ui-sref="app.profile"></a>
			</div>
			<div class="col col-center text-center">
				<a class="button button-icon ion-ios-cog-outline" href="#"></a>
			</div>
			<div class="col col-center text-center" style="border-left: 1px solid #454545;">
				<a class="button button-icon ion-ios-upload-outline" href="#" ng-click="logout()" style="transform: rotate(90deg);"></a>
			</div>
		</div>
	</div>-->

	<ion-list class="menu-footer">
		<ion-item menu-close ui-sref="app.profile" ui-sref-active="active">
			<div class="row">
				<div class="col col-20">
					<i class="icon ion-ios-person-outline"></i>
				</div>
				<div class="col col-center">
					Profil
				</div>
			</div>
		</ion-item>
		<ion-item menu-close class="item-complex" ng-click="rateApp()">
			<a class="item-content">
				<div class="row">
					<div class="col col-20">
						<i class="icon ion-ios-star-outline"></i>
					</div>
					<div class="col col-center">
						Evaluez-nous !
					</div>
				</div>
			</a>
		</ion-item>
		<ion-item menu-close class="item-complex" ng-click="shareApp()">
			<a class="item-content">
				<div class="row">
					<div class="col col-20">
						<i class="icon ion-ios-people-outline"></i>
					</div>
					<div class="col col-center">
						Parlez de Parkly !
					</div>
				</div>
			</a>
		</ion-item>
		<ion-item menu-close ui-sref="app.parameters" ui-sref-active="active">
			<div class="row">
				<div class="col col-20">
					<i class="icon ion-ios-cog-outline"></i>
				</div>
				<div class="col col-center">
					Paramètres
				</div>
			</div>
		</ion-item>
		<ion-item menu-close href="#" ng-click="logout()">
			<div class="row">
				<div class="col col-20">
					<i class="icon ion-ios-upload-outline logout-icon" style="transform: rotate(90deg);"></i>
				</div>
				<div class="col col-center">
					Déconnexion
				</div>
			</div>
		</ion-item>
	</ion-list>
</div>

<!-- view content - used as a wrapper -->
<div id="nlContent">
	<!-- your part of the code, views etc.. -->
	<ion-nav-view name="menuContent"></ion-nav-view>
</div>