.external-web-page #main-header, header#main-header{
  display: none;
}

.external-web-page ol {
  padding-left: 10px;
  -webkit-padding-start: 10px;
}

.external-web-page body{
  font-size: 1rem;
  line-height: 1.2rem;
}

.external-web-page .container .col-md-3{
  display: none;
}

.external-web-page #frise-mp{
  display: none;
}

.external-web-page #main-footer{
  display: none;
}