html{
  font-size: 90%;
}
.scroll{height:100%;}
.tab-item{max-width: 100%;}

/***********************************
** Margins
***********************************/
.margin-0{margin: 0 !important;  }
.margin-top-0{margin-top: 0 !important;}
.margin-top-5{margin-top: 5 !important;}
.margin-top-10{margin-top: 10px !important;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-50{margin-top: 50px !important;}
.margin-top-100{margin-top: 100px !important;}
.margin-right-0{margin-right: 0 !important;}
.margin-right-5{margin-right: 5px !important;}
.margin-right-10{margin-right: 10px !important;}
.margin-right-20{margin-right: 20px !important;}
.margin-right-50{margin-right: 50px !important;}
.margin-right-100{margin-right: 100px !important;}
.margin-bottom-0{margin-bottom: 0 !important;}
.margin-bottom-5{margin-bottom: 5px !important;}
.margin-bottom-10{margin-bottom: 10px !important;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-50{margin-bottom: 50px !important;}
.margin-bottom-100{margin-bottom: 100px !important;}
.margin-left-0{margin-left: 0 !important;}
.margin-left-5{margin-left: 5px !important;}
.margin-left-10{margin-left: 10px !important;}
.margin-left-20{margin-left: 20px !important;}
.margin-left-50{margin-left: 50px !important;}
.margin-left-100{margin-left: 100px !important;}

/***********************************
** Paddings
***********************************/
.padding-0{padding: 0 !important;  }
.padding-top-0{padding-top: 0 !important;}
.padding-top-5{padding-top: 5px !important;}
.padding-top-10{padding-top: 10px !important;}
.padding-top-20{padding-top: 20px !important;}
.padding-top-50{padding-top: 50px !important;}
.padding-top-100{padding-top: 100px !important;}
.padding-right-0{padding-right: 0 !important;}
.padding-right-5{padding-right: 5px !important;}
.padding-right-10{padding-right: 10px !important;}
.padding-right-20{padding-right: 20px !important;}
.padding-right-50{padding-right: 50px !important;}
.padding-right-100{padding-right: 100px !important;}
.padding-bottom-0{padding-bottom: 0 !important;}
.padding-bottom-5{padding-bottom: 5px !important;}
.padding-bottom-10{padding-bottom: 10px !important;}
.padding-bottom-20{padding-bottom: 20px !important;}
.padding-bottom-50{padding-bottom: 50px !important;}
.padding-bottom-100{padding-bottom: 100px !important;}
.padding-left-0{padding-left: 0 !important;}
.padding-left-5{padding-left: 5px !important;}
.padding-left-10{padding-left: 10px !important;}
.padding-left-20{padding-left: 20px !important;}
.padding-left-50{padding-left: 50px !important;}
.padding-left-100{padding-left: 100px !important;}

/***********************************
** Borders
***********************************/
.border-0{border:0 !important;}
.border-radius-0{border-radius: 0 !important;}
.border-radius-1{border-radius: 1px !important;}
.border-radius-2{border-radius: 2px !important;}
.border-radius-3{border-radius: 3px !important;}
.border-radius-5{border-radius: 5px !important;}

/*****************************
** Text
*****************************/
.text-center{text-align:center;}
.text-bold{font-weight: bold;}
.text-small{font-size: 13px;}
.text-colored{color: $main-color !important;}
.text-light{color: $light !important;}
.text-dark{color: $dark !important;}

.background-colored{background: $main-color;}

ionic-body, body{color: $dark /*$light*/;}

.platform-android .bar .title{
  font-size: 1rem;
  line-height: 56px;
  height: 55px;
}
ion-header-bar {
  /*background: $background !important;*/
  height: 56px !important;
}
.bar-subheader {
  top: 56px;
}
ion-content{
  background: $background;
  background-size: cover;
}
ion-content.has-header {
  top: 56px;
}

ion-header-bar button.button.button-icon.icon.ion-navicon:before{
  font-size: 3rem;
}

.item, .item .input-label{
  font-size: 0.8rem;
}

.bar.bar-dark{
  border: 0;
  box-shadow: 0 0;
}

.bar .header-tabs-button{
  padding-top: 5px;
}

.tabs-header{
  height: 44px;
  box-shadow: 0px 0px 5px #595959;
}

.item-close.button-icon{
  position: absolute;
  top: 0;
  right: 5px;
}
.item-close.button-icon .icon:before, .item-close.button-icon.icon:before{
  font-size: 20px;
}

/**************
** Popups *
**************/
.popup-open .popup{
  box-shadow: 0 0px 10px #000;
  background: $stable;
  border-radius: 5px;
  width: 300px;
}
.popup-head{
  background: transparent;
  border: 0;
}
.popup-title{
  color: $dark;
}
.popup-body{
  color: $dark;
}
.popup-body label input{
  color: $dark;
  border-bottom: 1px solid $energized;
}
.popup-body label input::-webkit-input-placeholder {
  color: $stable;
}
.popup-body label span{
  color: $dark;
}
.popup-buttons{
  padding: 0;
  min-height: 50px;
  background: $dark;
  border-radius: 0 0 5px 5px;
}
.popup-buttons .button{
  border: 0;
  border-radius: 0;
  margin: 0;
}
.popup-buttons .button:first-child{
  border-right: 1px solid #dddcdc !important;
}
.popup-buttons .button:last-child{
  border-left: 1px solid #dddcdc !important;
}

/**************
** Popover ***
**************/
.popover {
  height: auto;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}

/****************
**  Buttons ***
****************/
.button{
  font-size: 1rem;
}
.button.button-light.button-outline{
  border-color: $light;
  background: 0 0;
  color: $light;
}

.button-float{
  border: 0;
  z-index: 5 !important;
  position: absolute !important;
  border-radius: 50% !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6) !important;
}

.button-float:active{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
}

.button-float-propose{
  font-size: 30px !important;
  line-height: 30px !important;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  background: $main-color !important;
  color:white !important;
  bottom: 105px !important;
  right: 20px !important;
}
.button-float-propose:active{
  background: darken($assertive, 10%) !important;
}

.button-float-refresh{
  font-size: 30px !important;
  line-height: 30px !important;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.6) !important;
  color:white !important;
  bottom: 200px !important;
  right: 20px !important;
}

.button-float-localize{
  font-size: 34px !important;
  line-height: 30px !important;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.5) !important;
  color:white !important;
  bottom: 90px !important;
  right: 20px !important;
}

.button-float-localize-proposition{
  font-size: 30px !important;
  line-height: 30px !important;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.6) !important;
  color:white !important;
  bottom: 15px !important;
  right: 15px !important;
}

.button-float-switch-view{
  font-size: 30px !important;
  line-height: 30px !important;
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.6) !important;
  color:white !important;
  bottom: 105px !important;
  left: 20px !important;
}

.button.button-dark.button-clear.timePickerArrows {
  color: #fff;
}

/**************
  CSS Switch
  ************/
.switch-candy-energized a {
  background-color: $main-color;
}
.switch-toggle.switch-candy label {
  font-weight: 100 !important;
}
.switch-candy input:checked + label {
  color: #fff !important;
  text-shadow: 0 0px 0 rgba(255, 255, 255, 0) !important;
}
.switch-light.switch-candy input ~ span span:first-child, .switch-light.switch-candy input:checked ~ span span:nth-child(2), .switch-candy input:checked + label {
  color: #fff !important;
  text-shadow: 0 0px 0 rgba(255, 255, 255, 0) !important;
}
.switch-toggle input + label{
  padding: 4px 0.5em !important;
}


/*****************
    Cards
*****************/
.item-thumbnail-left{
  min-height: 85px;
}
.item-thumbnail-left .item-content>img:first-child{
  max-width: 60px;
  max-height: 60px;
}
.item-thumbnail-left .item-content{
  padding-left: 86px;
  padding-right: 10px;
  min-height: 85px;
}


.swiper-container{
  overflow: visible !important;
}


/**************************
** Action Sheet **
*************************/
.platform-android .action-sheet-has-icons .button{
  color: $main-color;
}
.platform-android .action-sheet-backdrop.active {
  background-color: rgba(0,0,0,.5);
}
.platform-android .action-sheet .action-sheet-title {
  font-size: 14px;
  padding: 16px;
  color: #999;
}

.list-avatar{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
}

.item-note {
  float: right;
  color: #aaa;
  font-size: 12px;
}

.spinner-dots-loading svg{
  width: 40px;
  height: 40px;
}

.section-title{
  text-align: center;
  font-size: 1.2rem;
  margin: 30px 0 0 0;
}
.section-title:after, .section-title:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}
.section-title:before {
  margin-right: 10px;
}
.section-title:after{
  margin-left: 10px;
}
.ionic_ratings .read_only {
  pointer-events:none !important;
}

.card {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}