/************************************
********** Login View *************
************************************/

.login-view{
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)),url('../img/bg/street-park.png') no-repeat;
  background-size: cover;
}

.user-car-view{
	background: #e8e8e8;
}

.loginView{
  background: transparent;
  padding-top: 30px;
}
.login-view ion-header-bar, .user-car-view ion-header-bar {
  background: transparent !important;
}
.login-view .title {
  color: #fff !important;
}
.loginView *{
  color: #fff;
}
.loginView input{
  color: #fff;
}

.loginLogoContainer{
  text-align: center;
  margin: 10% auto 20%;
}

.loginLogo{
  width: 20%;
  max-width: 200px;
  margin: auto;
}

.loginLogoText{
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
}

.loginView .login-form .item-input{
  background-color: transparent !important;
  border: 0;
}
.loginView .login-form .item-input input{
  background-color: transparent !important;
  border-bottom: 1px solid #C2C3C2;
}
.loginView .login-form .item-input input:focus{
  border-bottom: 2px solid #ed8323;
}

.loginButton{
  margin-top: 25px !important;
}