.profile-view{
  /*background: $background;
  background-size:cover;*/
  background: #e8e8e8;
}

.profile-view .profile-header{
  background: linear-gradient(rgba(0,0,0,.0980392),#000),url(../img/bg/street-park.png) 0 / cover;
  /*background: transparent;*/
}

.profile-popup .popup{
  width: 320px;
}

.profile-view .profile-avatar{
  width:120px;
  height: 120px;
  border-radius:50%;
  border: 3px solid $main-color;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-view ion-list .list{
  margin: 0 15px 15px 15px;
  background: #e8e8e8;
}

.profile-view .item-divider{
  margin-top: 10px;
  background: #e8e8e8;
  color: #000;
  border: 0;
}

.profile-view .item-select:after{
  color: $main-color;
  transform: rotate(-90deg);
  right: 3px;
  border: 0;
}
.profile-view .ion-edit{
  color: $main-color;
  font-size: 1.8rem;
}
.profile-view .item-input{
  padding: 10px 16px;
}
.profile-view .item-select select{
  font-size: 12px;
  padding-right: 16px;
}