<ion-view hide-nav-bar="false" class="je-cherche-view header-background">
	<ion-content scroll="false">
		<div id="map_canvas" style="height: 100% !important;width: 100%;">
			<div style="position: fixed;top: 0;left: 0;width: 10px;height: 100%;"></div>
			<div style="position:absolute;left:50%;width:95%;transform: translateX(-50%);top: 10px;">
				<div class="list">
					<label class="row item item-input padding-0 margin-0" ng-click="openModalRechercheAdresse()" ng-style="networkAvailable && {'height':'0'} || {'height': '100%'}" style="width: 100%;position: absolute;z-index: 5;transition-duration: 0.5s;">
						<div class="col col-20 input-label text-center" style="padding:10px;width: 55px;display: inline-table;color:#f1421a;">
							<i class="icon ion-alert-circled" style="font-size: 2.7rem;"></i>
						</div>
						<div class="col col-90 input-label text-light text-bold" style="white-space: normal;height: 100%;display: flex;align-items: center;background:#f1421a;">
							Pas de connexion à internet. Certaines fonctionnalités sont désactivées
						</div>
					</label>
					<label class="row item item-input padding-0 margin-0" ng-click="openModalRechercheAdresse()" ng-style="geolocationAvailable && {'height':'0'} || {'height': '100%'}" style="width: 100%;position: absolute;z-index: 4;transition-duration: 0.5s;">
						<div class="col col-20 input-label text-colored text-center" style="padding:10px;width: 55px;display: inline-table;">
							<i class="icon ion-alert-circled" style="font-size: 2.7rem;"></i>
						</div>
						<div class="col col-90 input-label background-colored text-light text-bold" style="white-space: normal;height: 100%;display: flex;align-items: center;">
							Pas de signal GPS. Impossible de mettre à jour votre position
						</div>
					</label>
					<label class="row item item-input padding-0 margin-0" ng-click="openModalRechercheAdresse()" style="height: 55px;">
						<div class="col input-label background-colored text-light text-center" style="padding:10px;width: 55px;display: inline-table;">
							<i class="icon ion-ios-location" ng-hide="geocodingAdresse" style="font-size: 1.7rem;"></i>
							<ion-spinner class="spinner-light" ng-show="geocodingAdresse"></ion-spinner>
						</div>
						<div class="col col-80">
							<div class="row text-colored text-bold">
								{{showSpotProposition ? 'Où se trouve votre véhicule ?' : 'Parkings autour de'}}
							</div>
							<div class="row" style="overflow:hidden;text-overflow:ellipsis;font-size: 0.7rem;" >{{localisation.adresseCourte}}</div>
						</div>
					</label>
				</div>
			</div>

			<!--<button class="button-float button-float-propose" ng-click="proposerMaPlace()"
			        ng-hide="spotEnCours || hideSpotPropositionButton || showSpotSlider || showReservationEnCours">
				<i class="icon ion-pin"></i>
			</button>-->

			<button ng-click="goToMyLocation()" class="button-float button-float-localize">
				<i class="icon ion-pinpoint"></i>
			</button>

			<!--<css-circle-menu class="c-circle-menu js-menu">
				<button class="c-circle-menu__toggle js-menu-toggle">
					<span>Toggle</span>
				</button>
				<ul class="c-circle-menu__items">
					<li class="c-circle-menu__item">
						<a href="#" class="c-circle-menu__link">
							<i class="icon ion-home"></i>
						</a>
					</li>
					<li class="c-circle-menu__item">
						<a href="#" class="c-circle-menu__link">
							<i class="icon ion-ios-location-outline"></i>
						</a>
					</li>
					<li class="c-circle-menu__item">
						<a href="#" class="c-circle-menu__link" ng-click="proposerMaPlace()">
							<i class="icon ion-speakerphone"></i>
						</a>
					</li>
				</ul>
				<div class="c-circle-menu__mask js-menu-mask"></div>
			</css-circle-menu>-->

			<ion-slides ng-if="showSpotSlider" options="spotSliderOptions" slider="spotSlider" style="position: absolute;bottom: 70px;height: 145px;z-index: 10;width:100%">
				<ion-slide-page ng-repeat="currentSpot in spots" ng-class="currentSpot.parking_payant ? 'item-parking-payant' : 'item-parking-gratuit'" style="overflow: visible;background:#fff;padding:1px 35px;">
					<div class="item item-avatar" style="padding-left:90px;padding-top: 15px;padding-bottom:0;border:0;">
						<div ng-click="showSpot(currentSpot)" ng-style="{'background-image': 'url('+(currentSpot.user.avatar | avatar)+')', 'background-size':'cover', 'background-position': 'center center'}" style="width:60px;height:60px;position: absolute;top: 15px;left: 10px; border:1px solid #f1611a;border-radius: 50%;"></div>

						<h2 class="text-dark">{{currentSpot.user.display_name}}
							<ionic-ratings ng-if="currentSpot.userRating" ratingsobj="currentSpot.userRating" style="display:inline-block;"></ionic-ratings>
						</h2>

						<p style="font-size:0.8rem;">Départ {{currentSpot.end | fromNow}}</p>
						<!--<p style="font-size:0.8rem;"><i class="icon ion-location"></i> {{currentSpot.adresse}}</p>-->
						<p style="font-size:0.8rem;"><strong>Voiture : </strong>{{currentSpot.user.voitures[0].marque}} {{currentSpot.user.voitures[0].modele}} {{currentSpot.user.voitures[0].couleur | formatColor}}</p>
					</div>
					<div class="row">
						<div class="col col-center text-center">
							<!--<button ng-click="Utils.goToMaps(currentSpot.lat,currentSpot.lng)" class="button button-icon ion-map" style="background: #fff;width: 50px;height: 50px;border: 1px solid #424242;color: #f1611a;font-size: 35px;line-height: 0;z-index: 5;"></button>-->
							<!--<button ng-click="showSpot(currentSpot)" class="button button-icon ion-information" style="background: #fff;width: 50px;height: 50px;left:15px;border: 1px solid #424242;color: #f1611a;font-size: 35px;line-height: 0;z-index: 5;"></button>-->
							<button ng-click="reserverSpot(currentSpot)" ng-disabled="waitingReservationResponse" class="button button-small button-energized je-reserve-button" style="z-index: 5;font-size:0.8rem">
								Je prends cette place
							</button>
						</div>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</ion-slide-page>
			</ion-slides>
			<div class="custom-swiper-pagination swiper-pagination" style="display:none;"></div>


			<div class="card margin-0" style="position:absolute;width:100%;z-index:10;transition-duration: 0.3s;bottom:0">
				<div class="row" style="height: 65px;padding: 0;box-shadow: 0px -2px 10px 0px #4e4a4a;background: #2E2E2E;">
					<div class="col col-20 padding-0 text-center">
						<button ng-click="toggleMenu()" class="button button-icon ion-android-menu button-outline button-energized border-0 margin-0 border-radius-0" style="height: 100%;width: 100%;font-size:2.5rem;"></button>
					</div>
					<div class="col" style="border-left: 1px solid rgba(0,0,0,0.1);border-right: 1px solid rgba(0,0,0,0.1);box-shadow: 0 -1px 5px black;text-align: center;background:#222;color:#fff;">
						<div ng-hide="spotEnCours">Bonjour {{currentUser.first_name}}</div>
						<span ng-show="waitingPerson">En attente de {{notification.user.first_name}}</span>
						<div ng-show="spotEnCours && !waitingPerson">En attente d'une demande...</div>
						<div ng-show="spotEnCours" class="progress ng-cloak text-center" ng-style="getStyle()" style="color:#fff;font-size: 1.5rem;">
							{{ progress.label }}
						</div>
					</div>
					<div class="col col-20 padding-0 text-center">
						<button ng-click="proposerMaPlace()" ng-hide="spotEnCours" class="button button-icon ion-ios-location button-outline button-energized border-0 margin-0 border-radius-0" style="height: 100%;width: 100%;font-size:2.5rem;"></button>
						<button ng-click="annulerPropositionSpot()" ng-show="spotEnCours" class="button button-icon ion-close-round button-outline button-assertive border-0 margin-0 border-radius-0" style="height: 100%;width: 100%;font-size:2.5rem;"></button>
						<!--<div class="progress-wrapper" ng-show="spotEnCours"
						     style="height:100%;padding:10px;">
							<div class="padding-0" style="height:100%;"
									round-progress
									max="progress.max"
									current="progress.current"
									color="#444444"
									bgcolor="#f1611a"
									radius="20"
									stroke="20"
									responsive="true"
									duration="1000"
									animation="easeInOutQuart"
									animation-delay="0">
							</div>
						</div>-->
					</div>
				</div>
				<div class="item item-text-wrap padding-0 border-0" ng-style="showSpotPropositionNew && {'max-height':'300px'} || {'max-height': '0'}">
					<div class="row">
						<div class="col col-25 col-center" style="padding-top: 16px;">
							Je pars dans
						</div>
						<div class="col col-center">
							<rzslider rz-slider-model="rzSlider.value" rz-slider-options="rzSlider.options"></rzslider>
						</div>
					</div>
					<ion-toggle ng-model="parkingPayant.value" toggle-class="toggle-calm" style="border:0;">Parking gratuit
					</ion-toggle>
					<div class="row" style="padding:0;">
						<button ng-click="closePropositionWindowNew()" class="button border-radius-0 margin-0" style="font-size: 15px;width:50%;">
							Annuler
						</button>
						<button ng-click="garer()" class="button button-energized border-radius-0 margin-0" style="font-size: 15px;width:50%;">
							Valider
						</button>
					</div>
				</div>

				<div class="bar bar-light" ng-show="waitingPerson" style="display:block;bottom:0;height:auto;padding-right: 0;padding-left: 0;position:relative;">
					<ion-item class="item-thumbnail-left" style="border:0;min-height:75px;padding-bottom:0;" ng-show="waitingPerson">
						<div class="list-avatar"
						     ng-style="{'background-image': 'url('+(notification.user.avatar | avatar)+')', 'background-size':'cover', 'background-position': 'center center'}"
						     style="border: 2px solid #f1611a;border-radius: 50%;"></div>
						<h2 class="text-dark" style="font-size: 13px;">{{notification.user.display_name}}</h2>
						<p style="font-size: 12px;">
							<ionic-ratings ratingsobj="notification.userRating" style="display:inline-block;"></ionic-ratings>
							{{notification.user.street_nb_etoiles}}
						</p>
						<p style="font-size: 12px;"><strong>Voiture : </strong>{{notification.user.voitures[0].marque}}
							{{notification.user.voitures[0].modele}} {{notification.user.voitures[0].couleur | formatColor}}
						</p>
					</ion-item>

					<!--<div class="row" style="padding: 0;">
						<div class="col col-center text-center" style="font-size: .8rem;">
							{{spotEnCours.adresse}}
						</div>
					</div>-->
				</div>
			</div>

			<div class="list card" ng-show="showReservationEnCours" style="position: absolute;bottom: 0;margin: 0;z-index: 10;width: 100%;">
				<div class="item item-avatar" style="border:0;padding-bottom:0;padding-left:80px;">
					<div class="list-avatar" ng-style="{'background-image': 'url('+(reservationEnCours.spot.user.avatar | avatar)+')', 'background-size':'cover', 'background-position': 'center center'}" style="border:1px solid #f1611a;border-radius:50%;"></div>
					<h2>{{reservationEnCours.spot.user.display_name}}
						<ionic-ratings ng-if="reservationEnCours.userRating" ratingsobj="reservationEnCours.userRating" style="display:inline-block;"></ionic-ratings>
					</h2>
					<p>{{reservationEnCours.spot.user.voitures[0].marque}} {{reservationEnCours.spot.user.voitures[0].modele}}
						{{reservationEnCours.spot.user.voitures[0].couleur | formatColor}}
					</p>
				</div>
				<div class="item item-body" style="border:0;padding:0 16px;">
					<p class="margin-0" style="font-size:0.8rem;">{{reservationEnCours.spot.adresse}}</p>
					<p style="margin:0;">
						<button ng-click="validerEchangeDemandeur()" class="button button-energized button-full" style="margin:5px 0;">Valider l'échange</button>
					</p>
				</div>
			</div>
		</div>

		<div ng-show="showSpotPropositionNew" style="background:url('img/markers/icn_md_marker_fixe_cible_croix.png');background-size: cover;width: 40px;height: 57px;position: absolute;left: 50%;top: 46%;transform: translate(-50%,-50%);"></div>

	</ion-content>
</ion-view>
