<ion-modal-view style="background: rgba(255,255,255,.9);">
	<ion-header-bar class="bar-dark" style="background: transparent;">
		<h1 class="title"></h1>
		<div class="button button-clear button-energized" ng-click="hideSpot()"><span class="icon ion-android-close"></span></div>
	</ion-header-bar>
	<ion-content has-header="true" padding="true" style="background:transparent;">
		<div class="row">
			<div class="col col-33 col-center text-dark" style="padding-right: 1rem;">
				<!--<span class="icon ion-ios-email-outline text-light" style="font-size:3rem;"></span>-->
			</div>
			<div class="col col-33">
				<div ng-style="{'background-image': 'url('+ (currentSpot.user.avatar | avatar)+')', 'background-size': 'cover', 'background-position': 'center center', 'width': '115px', 'height': '115px', 'border-radius': '50%'}"></div>
			</div>
			<div class="col col-33 col-center text-left" style="padding-left: 1rem;">
				<!--<span class="icon ion-ios-heart-outline text-light" style="font-size:2.7rem;"></span>-->
			</div>
		</div>
		<div class="row">
			<div class="col col-center text-center text-dark" style="font-size:1.5rem;font-weight:100;">
				<div>{{currentSpot.user.display_name}}</div>
				<div style=" margin-top: 10px;" ng-if="currentSpot && currentSpot.userRating">
					<ionic-ratings ratingsobj="currentSpot.userRating" style="display:inline-block;"></ionic-ratings>
				</div>
			</div>
		</div>
		<div class="row text-dark text-center" style="width:96%;margin:15px auto;border-top: 1px solid rgba(0,0,0,0.2);">
			<div class="col col-33" style="border-right: 1px solid rgba(0,0,0,0.2);">
				<div style="font-weight: 100;">Départ à</div>
				<div style="font-weight:bold;font-size:1.5em;">{{currentSpot.end | timeFromDate}}</div>
			</div>
			<div class="col col-33" style="border-right: 1px solid rgba(0,0,0,0.2);">
				<div style="font-weight: 100;">Départ dans</div>
				<div style="font-weight:bold;font-size:1.5em;">{{currentSpot.end | nowUntilTime}}</div>
			</div>
			<div class="col col-33">
				<div style="font-weight: 100;">Note</div>
				<div style="font-weight:bold;font-size:1.5em;" ng-if="currentSpot.user.street_nb_etoiles != 0">{{(parseFloat(currentSpot.user.street_total_notes) / parseInt(currentSpot.user.street_nb_notes).toFixed(1))}}</div>
				<div style="font-weight:bold;font-size:1.5em;" ng-if="currentSpot.user.street_nb_etoiles == 0">0.0</div>
			</div>
		</div>
		<div class="row">
			<div class="col text-center" style="border: 1px solid rgba(0,0,0,0.2);padding:0;">
				<!--<img style="width:100%;" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{currentSpot.lat}},{{currentSpot.lng}}&zoom=18&size=600x300&maptype=roadmap
&markers=color:red%7Clabel:S%7C{{currentSpot.lat}},{{currentSpot.lng}}&key=AIzaSyDOuhKNEhIwb1_bQ_nphcOBoXawkbDxDJg" />-->
				<iframe ng-if="currentSpot" frameborder="0" style="border:0;width:100%;height: 100%;" ng-src="{{mapsIframeUrl}}" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="button button-block button-energized border-radius-0" ng-click="reserverSpot(currentSpot)">Réserver cette place</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
