<ion-view view-title="{{context == 'login' ? 'Connexion' : 'Inscription' }}" class="login-view">
	<ion-nav-bar class="nav-title-slide-ios7" style="background:transparent;">
		<ion-nav-back-button class="padding-left-10 button-light">
		</ion-nav-back-button>
	</ion-nav-bar>

    <ion-content has-header="true" padding="true" scroll="true" class="loginView">
        <div class="loginLogoContainer"  style="margin:0 auto;">
            <img src="img/logo/logo_complet.png" class="loginLogo" style="width:auto;max-width:50%;" />
        </div>
        <div class="list login-form">
            <label class="item item-input item-floating-label">
		        <span class="input-label">Email</span>
		        <input type="email" ng-model="loginData.email" placeholder="Email">
	        </label>
	        <label class="item item-input item-floating-label">
		        <span class="input-label">Mot de passe</span>
		        <input type="password" ng-model="loginData.password" placeholder="Mot de passe">
	        </label>

	        <!-- Register -->
	        <label class="item item-input item-floating-label" ng-if="context == 'register'">
		        <span class="input-label">Prénom</span>
		        <input type="text" ng-model="loginData.first_name" placeholder="Prénom">
	        </label>
	        <label class="item item-input item-floating-label" ng-if="context == 'register'">
		        <span class="input-label">Nom</span>
		        <input type="text" ng-model="loginData.last_name" placeholder="Nom">
	        </label>
        </div>
        <button class="button button-block button-energized loginButton"
                ng-click="handle(context == 'login' ? 'login':'register')"
		        ng-disabled="buttonDisabled()"
		        >
	        {{context == 'login' ? 'Connexion' : 'Inscription'}}
        </button>
	    <div class="row">
		    <div class="col col-33 text-left">
			    <a ng-click="showRegister()" ng-if="context == 'login'">Inscription</a>
			    <a ng-click="showLogin()" ng-if="context == 'register'">Connexion</a>
		    </div>
		    <div class="col col-66 text-right">
			    <a ng-if="context == 'login'" ng-click="goToResetPassword()">Mot de passe oublié</a>
		    </div>
	    </div>
    </ion-content>
</ion-view>
