<ion-popover-view>
	<ion-content scroll="false">
		<div class="list">
			<a class="item" ng-click="browse('http://www.parkly.fr/how-it-works?hide_nav=true', 'Comment ça marche?')">
				Mode d'emploi
			</a>
			<a class="item" ng-click="browse('http://www.parkly.fr/terms-of-use?hide_nav=true', 'Conditions générales')">
				Conditions générales
			</a>
			<a class="item" ng-click="browse('http://www.parkly.fr/privacy?hide_nav=true', 'Poitique de confidentialité')">
				Politique de confidentialité
			</a>
		</div>
	</ion-content>
</ion-popover-view>