#nlDrawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  -webkit-transform: translateX(-1000px) translateZ(0);
          transform: translateX(-1000px) translateZ(0);
  z-index: 1105; }
  #nlDrawer .username {
    font-size: 16px;
    left: 0;
    line-height: 28px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 13px;
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 1110; }
  #nlDrawer .nav {
    height: 100%; }
    #nlDrawer .nav li {
      border-bottom: 1px solid #e9e9e9;
      font-size: 14px;
      height: 46px;
      line-height: 46px;
      position: relative;
      width: 100%; }
      #nlDrawer .nav li a {
        color: #333333;
        padding-left: 16px;
        width: 100%;
        display: block; }
        #nlDrawer .nav li a i {
          background-size: cover;
          display: inline-block;
          height: 26px;
          left: -4px;
          position: relative;
          top: 8px;
          width: 26px; }
    #nlDrawer .nav .title {
      background: #dbdbdb;
      color: #4f4f4f;
      font-size: 12px;
      height: 26px;
      line-height: 26px;
      padding-left: 16px; }
    #nlDrawer .nav .bottom {
      border-top: 1px solid #dbdbdb;
      background: #eee;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
      #nlDrawer .nav .bottom li {
        border: none; }
        #nlDrawer .nav .bottom li a i {
          height: 20px;
          width: 20px; }

#nlDimm {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  z-index: 1104; }

#nlBurger {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  display: block;
  z-index: 1106;
  font-size: 3.5rem;
  color: white;}
  #nlBurger #burger-top, #nlBurger #burger-center, #nlBurger #burger-bottom {
    position: relative;
    left: 18px;
    width: 20px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 95% 50%;
        -ms-transform-origin: 95% 50%;
            transform-origin: 95% 50%; }
  #nlBurger #burger-top {
    top: 21px; }
  #nlBurger #burger-center {
    top: 25px; }
  #nlBurger #burger-bottom {
    top: 29px; }

#nlMenu {
  position: fixed;
  display: block;
  z-index: 1104;
  height: 56px;
  width: 56px; }
  #nlMenu.main {
    position: fixed;
    right: 0;
    top: 0; }
  #nlMenu #nlIcon {
    height: 56px;
    width: 56px; }
    #nlMenu #nlIcon #dot-top, #nlMenu #nlIcon #dot-center, #nlMenu #nlIcon #dot-bottom {
      background: #ffffff;
      border-radius: 2px;
      height: 4px;
      left: 36px;
      position: relative;
      -webkit-transform-origin: 95% 50% 0;
          -ms-transform-origin: 95% 50% 0;
              transform-origin: 95% 50% 0;
      width: 4px;
      -webkit-backface-visibility: hidden; }
    #nlMenu #nlIcon #dot-top {
      top: 18px; }
    #nlMenu #nlIcon #dot-center {
      top: 22px; }
    #nlMenu #nlIcon #dot-bottom {
      top: 26px; }
  #nlMenu #nlMenuContent {
    background: #ffffff;
    color: #333333;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    line-height: 1.5rem;
    border-radius: 2px;
    padding: 0.5rem 0.9rem;
    z-index: 1104;
    visibility: hidden; }
    #nlMenu #nlMenuContent li {
      white-space: nowrap;
      line-height: 2rem; }

#nlSwipe {
  width: 15px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1100; }

#nlTopbar, .topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  background: #E53241;
  color: #ffffff;
  z-index: 1104; }
  #nlTopbar.drawer, .topbar.drawer {
    position: relative; }
  #nlTopbar.large, .topbar.large {
    height: 140px;
    background: -webkit-linear-gradient(325deg, #E53241, #d42130);
    background: linear-gradient(125deg, #E53241, #d42130); }
  #nlTopbar .title, .topbar .title {
    position: fixed;
    top: 0;
    left: 56px;
    line-height: 56px;
    color: #ffffff;
    font-size: 18px;
    z-index: 1110;
    pointer-events: none; }
  #nlTopbar .gravatar, .topbar .gravatar {
    border-radius: 50%;
    bottom: 20px;
    height: 66px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    width: 66px; }

#nlToast {
  background: #212121;
  border-radius: 1.5rem;
  bottom: 1rem;
  color: #fff;
  left: 5%;
  line-height: 1.6rem;
  max-width: 90%;
  min-height: 3rem;
  padding: 0.7rem 1rem;
  position: fixed;
  right: 5%;
  -webkit-transform: translate3d(0px, 200%, 0px);
          transform: translate3d(0px, 200%, 0px);
  -webkit-transform-origin: 50% 50% 0;
      -ms-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  width: 30rem;
  z-index: 1104; }

#nlRefresh {
  background: white none repeat scroll 0 0;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  text-align: center;
  -webkit-transform-origin: 50% 50% 0;
      -ms-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  z-index: 1103;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.6); }
  #nlRefresh #reload-icon {
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%; }

#nlActionButton.active .option.one, #nlActionButton.active .option.two {
  visibility: visible;
  opacity: 1; }
#nlActionButton.active .option.one {
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
  -webkit-transform: translate(-4px, -122px) translateZ(0);
          transform: translate(-4px, -122px) translateZ(0); }
#nlActionButton.active .option.two {
  -webkit-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
  -webkit-transform: translate(-4px, -66px) translateZ(0);
          transform: translate(-4px, -66px) translateZ(0); }
#nlActionButton.active .plus {
  z-index: 1105;
  visibility: visible;
  opacity: 1;
  background: #ffffff !important;
  -webkit-transform: rotate(135deg) !important;
      -ms-transform: rotate(135deg) !important;
          transform: rotate(135deg) !important; }
#nlActionButton .option {
  z-index: 1105; }
  #nlActionButton .option.one, #nlActionButton .option.two {
    position: absolute;
    visibility: hidden;
    opacity: 0; }
#nlActionButton .plus {
  background: #ffffff !important;
  -webkit-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
  position: absolute;
  z-index: 1104; }
#nlActionButton .action-button {
  position: absolute;
  bottom: 28px;
  right: 28px;
  width: 56px;
  height: 56px;
  background: #ffffff;
  text-align: center;
  line-height: 56px;
  border-radius: 100%;
  font-size: 24px; }
  #nlActionButton .action-button.one, #nlActionButton .action-button.two {
    overflow: hidden;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    color: #ffffff;
    font-size: 18px;
    line-height: 49px; }
  #nlActionButton .action-button.single {
    bottom: 33px;
    right: 33px; }
  #nlActionButton .action-button.one {
    background: #F00D36; }
  #nlActionButton .action-button.two {
    background: #E53241; }

#nlContent {
  position: relative; }
  #nlContent #nlInner {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto; }

.depth.z1 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }
