.angular-google-map{
  width: 100%;
  height: 100%;
}
.angular-google-map-container{
  width:100%;
  height: 100%;
}

.angular-leaflet-map{
  width:100%;
  height: 100%;
}

.leaflet-marker-icon {
  width: auto !important;
}

.leaflet-div-icon {
  background: transparent !important;
  border: 0 !important;
}