<ion-modal-view class="modal-popup modal-notation">
	<ion-content has-header="false" padding="true" scroll="false">
		<div class="row">
			<div class="modal-title col text-center">Noter {{notation.user.first_name}}</div>
		</div>
		<div class="row">
			<div class="col col-center text-center">
				<div class="modal-avatar" ng-style="{'background-image': 'url('+(notation.user.avatar | avatar)+')', 'background-size': 'cover', 'background-position': 'center center'}"></div>
			</div>
		</div>
		<div class="row">
			<div class="modal-username col col-center text-center">
				{{notation.user.display_name}}
			</div>
		</div>
		<div class="row">
			<div class="col col-center text-center">
				<ionic-ratings ratingsobj="notation.userRating" style="display:inline-block;"></ionic-ratings>
			</div>
		</div>
	</ion-content>
	<button class="buttonOne button button-block button-energized border-radius-0" ng-click="noter(index, notation.note)">OK</button>
</ion-modal-view>