.startup-view ion-content{
  background: linear-gradient(to bottom right, #CA4502, #7C100D);
}

.startup-view .startup-content{
  position: fixed;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  z-index: 99999;
  background: linear-gradient(to bottom right, #CA4502, #7C100D);
}

.startup-view ion-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startup-view .spinner svg {
  width: 45px;
  height: 45px;
  stroke: #fff;
  fill: #fff;
}