<ion-view class="parameters-notifications-view">
	<ion-header-bar align-title="left" class="bar-dark depth z1" align-title="left">
		<div class="buttons">
			<button class="button button-icon icon ion-android-arrow-back button-energized" style="color:#f1611a;" ng-click="Utils.goBack()"></button>
		</div>
		<h1 class="title">Notifications</h1>
	</ion-header-bar>
  <ion-content padding="true" has-header="true">
	  <ion-list>
		  <ion-item class="item-divider">Général</ion-item>
		  <ion-toggle ng-model="notifsSons" toggle-class="toggle-calm" class="padding-top-10 padding-bottom-10">
			  <p>Son de notification</p>
		  </ion-toggle>
		  <ion-item class="item-divider">Notifications push</ion-item>
		  <ion-toggle ng-model="notifsReservations" toggle-class="toggle-calm" class="padding-top-10 padding-bottom-10">
			  <p>Réservations</p>
			  <h4 style="white-space: normal;">Demandes, acceptations, refus, ...</h4>
		  </ion-toggle>

		  <ion-toggle ng-model="notifsActivite" toggle-class="toggle-calm" class="padding-top-10 padding-bottom-10">
			  <p>Activité du compte</p>
			  <h4 style="white-space: normal;">Modifications apportées à votre compte</h4>
		  </ion-toggle>

	  </ion-list>
  </ion-content>
</ion-view>
