<ion-view class="parameters-view">
	<ion-header-bar align-title="left" class="bar-dark depth z1" align-title="left">
		<div class="buttons">
			<button class="button button-icon icon ion-android-menu button-energized" style="color:#f1611a;" ng-click="toggleMenu()"></button>
		</div>
		<h1 class="title">Paramètres</h1>
	</ion-header-bar>
  <ion-content has-header="true">
	  <ion-list>
		  <!--<ion-item ng-click="goTo('app.paramsNotifications')">
			  Notifications
		  </ion-item>-->
		  <ion-item ng-click="shareApp()">
			  Partager l'application Parkly
		  </ion-item>
		  <ion-item ng-click="rateApp()">
			  Evaluer l'application Parkly
		  </ion-item>
		  <ion-item ng-click="goTo('app.userComment')">
			  Envoyer un commentaire
		  </ion-item>
		  <ion-item ng-click="goTo('app.about')">
			  A propos
		  </ion-item>
		  <ion-item ng-click="logout()">
			  Déconnexion
		  </ion-item>
	  </ion-list>
  </ion-content>
</ion-view>
